.pricing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* text-align: center; */
  }
  
  .heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .subheading {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .swiper-container {
    width: 100%;
    padding-bottom: 30px;
  }
  
  .swiper-wrapper {
    display: flex;
  }
  
  .swiper-slide {
    width: 300px;
    margin-right: 20px;
    /* background-color: rgb(243 244 246 / var(--tw-bg-opacity)); */
    /* color: blue; */
    padding: 20px;
    border-radius: 10px;
    /* text-align: center; */
  
  }
  
  .plan-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .plan-price {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .plan-button {
    background-color: #71EE9E;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .plan-button:hover {
    background-color: #5bbf7f;
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .features{
    text-align: left;
  }