{% extends 'main.html' %} 
{% block meta %}
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Policy - MT Auto Clicker</title>
    <meta name="description" content="Cookie policy detailing our 1st and 3rd party cookies for providing, analyzing, and improving MT Auto Clickers automation service." />
    <meta name="robots" content="follow, index"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Cookie Policy - MT Auto Clicker" />
    <meta property="og:description" content="Cookie policy detailing our 1st and 3rd party cookies for providing, analyzing, and improving MT Auto Clickers automation service." />
    <meta property="og:url" content="https://www.mtautoclicker.com/cookie-policy/" />
    <meta property="og:site_name" content="MT Auto Clicker" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="Cookie Policy - MT Auto Clicker" />
    <meta name="twitter:description" content="Cookie policy detailing our 1st and 3rd party cookies for providing, analyzing, and improving MT Auto Clickers automation service." />
    <meta name="twitter:url" content="https://www.mtautoclicker.com/cookie-policy/" />
    <meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg"/>
    <link rel="canonical" href="https://www.mtautoclicker.com/cookie-policy/" /> 

    <meta name="robots" content="index,follow"/>
{% endblock meta %} 
{% block body %}

<div class=" py-10 sm:py-10 ">
  <h1 class=" text-2xl md:text-4xl text-center text-white font-bold" >
    Cookie Policy
  </h1>
</div>
<div class="max-w-screen-xl p-5 mx-auto">
<div class="container max-w-screen-lg m-auto">
<div class="container items-center max-w-screen-xl m-auto prose text-center ">
<div class="dark:prose-h1:text-gray-200 dark:text-gray-400 dark:prose-h2:text-gray-200 prose-h2:font-semibold dark:prose-strong:text-gray-200">
  
  <div class="text-left">
    <p>We use cookies to give you the best experience on our website. By continuing to browse this site, you give consent for cookies to be used.</p>
    <h2 >What Are Cookies?</h2>
      <p>As is common practice with almost all professional websites, this site uses cookies and tiny files downloaded to your computer to improve your experience.</p>
      <p>This page describes what information they gather, how we use it, and why we sometimes need to store these cookies.</p>
      <p>We will also share how you can prevent these cookies from being stored; however, this may downgrade or ‘break’ certain elements of the site’s functionality.</p>
      <h2>How Do We Use Cookies?</h2>
      <p>We use cookies for a variety of reasons, detailed below. Unfortunately, in most cases, there are only industry-standard options for turning off cookies, completely disabling the functionality and features they add to this site.</p>
      <p>It is recommended that you leave on all cookies if you are wondering whether you need them in case they are used to provide a service you use.</p>
      <h2>Disabling Cookies</h2>
      <p>You can prevent the setting of cookies by adjusting the settings on your browser (see how to turn cookies on or off). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit.</p>
      <p>Disabling cookies will usually turn off certain functionality and features of this site. Therefore, it is recommended that you do not disable cookies.</p>
      <h2>The Cookies We Set</h2>
      <ul>
        <li> <strong>Email newsletters-related cookies –</strong>  This site offers newsletter or email subscription services, and cookies may be used to remember if you are already registered and whether to show certain notifications that might only be valid to subscribe/unsubscribed users</li>
        <li> <strong>Forms-related cookies –</strong>  When you submit data through a form such as those found on contact pages or comment forms, cookies may be set to remember your user details for future correspondence.</li>
        <li> <strong>Site preferences cookies – </strong> To provide a great experience on this site, we provide the functionality to set your preferences for how this site runs when you use it. To remember your preferences, we need to set cookies so that this information can be called whenever you interact with a page that is affected by your preferences.</li>
      </ul>
      <h2>Third-Party Cookies</h2>
      <p>In some exceptional cases, we also use cookies provided by trusted third parties—the following section details which third-party cookies you might encounter through this site.</p>
      <ul>
        <li>This site uses Google Analytics, one of the most widespread and trusted analytics solutions on the web, to help us understand how you use the site and how we can improve your experience. These cookies may track how long you spend on the site and the pages you visit so we can continue producing engaging content.</li>
        <li>For more information on Google Analytics cookies, see the official how Google uses cookies page.</li>
        <li>From time to time, we test new features and make subtle changes to how the site is delivered. When we are still trying new features, these cookies may be used to ensure that you receive a consistent experience while on the site and that we understand which optimizations our users appreciate the most.</li>
        <li>As we sell products, we need to understand statistics about how many of the visitors to our site make a purchase, and as such, this is the kind of data that these cookies will track. This is important to you as it means we can accurately make business predictions to monitor our advertising and product costs to ensure the best possible price.</li>
        <li>The Google AdSense service we use to advertise uses a DoubleClick cookie to serve more relevant ads across the web and limit the number of times a given ad is shown to you.</li>
        <li>For more information on Google AdSense, see the official page on how AdSense uses cookies.</li>
        <li>We use adverts to offset the costs of running this site and provide funding for further development. The behavioral advertising cookies used by this site are designed to ensure that we provide you with the most relevant adverts where possible by anonymously tracking your interests and presenting similar things that may be of interest.</li>
        <li>Several partners advertise on our behalf, and affiliate tracking cookies simply allow us to see if our customers have come to the site through one of our partner sites so that we can credit them appropriately and, where applicable, allow our affiliate partners to provide any bonus that they may provide you for making a purchase.</li>
      </ul>
      <h2>Personal Data in Cookies</h2>
      <p>This website's first party cookies do not collect or store any personal identifiable information.</p>
      <p>We do not allow any of our third party advertising or analytics services to collect your personal information through cookies. The cookies placed by these services are only used for anonymous tracking of website analytics and ad performance.</p>

      <h2>Cookie Retention</h2>
      <p>The length of time that a cookie remains on your device depends on whether it is a "persistent" or "session" cookie. Session cookies last until you stop browsing and persistent cookies last until they expire or are deleted. Most first party cookies used by this website persist for less than 30 days. Third party cookies like those from Google Analytics typically persist for a period of 2 years before they renew automatically.</p>
      <h2>More Information</h2>
      <p>Hopefully, that has clarified things for you, and as was previously mentioned, if there is something that you aren’t sure whether you need or not, it’s usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>
      <p>However, if you are still looking for more information, then you can contact us through one of our preferred contact methods:</p>
      <ul>
        <li><strong>Email:</strong> <a href="mailto:contact@MTAutoClicker.com" class="no-underline text-blue-600"> contact@MTAutoClicker.com </a></li>
        <li> <strong>By visiting this link:</strong> <a href="/contact" class="no-underline text-blue-600">  mtautoclicker.com/contact/ </a></li>
      </ul>
    </div>
</div>
</div>
<br />
</div>
</div>
{% endblock body %}
