{% extends 'main.html' %} 
{% block meta %} 
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DMCA Policy - MT Auto Clicker</title>
    <meta name="description" content="Explore our DMCA Policy to learn how MT Auto Clicker handles copyright infringement claims and complies with the Digital Millennium Copyright Act." />
    <meta name="robots" content="follow, index"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DMCA Policy - MT Auto Clicker" />
    <meta property="og:description" content="Explore our DMCA Policy to learn how MT Auto Clicker handles copyright infringement claims and complies with the Digital Millennium Copyright Act." />
    <meta property="og:url" content="https://www.mtautoclicker.com/dmca-policy/" />
    <meta property="og:site_name" content="MT Auto Clicker" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="DMCA Policy - MT Auto Clicker" />
    <meta name="twitter:description" content="Explore our DMCA Policy to learn how MT Auto Clicker handles copyright infringement claims and complies with the Digital Millennium Copyright Act." />
    <meta name="twitter:url" content="https://www.mtautoclicker.com/dmca-policy/" />
    <meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg"/>
    <link rel="canonical" href="https://www.mtautoclicker.com/dmca-policy/" /> 
    
    <meta name="robots" content="index,follow"/>

{% endblock meta %} 
{% block body %}
<div class=" sm:py-10 ">
    <h1 class=" text-2xl md:text-4xl text-center text-white font-bold" >
        DMCA Policy
    </h1>
</div>
<div class=" p-5  items-center max-w-screen-xl m-auto prose" >
  <div class="dark:prose-h1:text-gray-200 dark:text-white dark:prose-h2:text-gray-200 prose-h2:font-semibold dark:prose-strong:text-gray-300">
  
    <div class="">
        <p>This Digital Millennium Copyright Act policy ("Policy") applies to the mtautoclicker.com website ("Website" or "Service") and any of its related products and services (collectively, "Services") and outlines how this Website operator ("Operator," "we," "us" or "our") addresses copyright infringement notifications and how you ("you" or "your") may submit a copyright infringement complaint.</p>
        <p>Intellectual property protection is of utmost importance to us, and we ask our users and their authorized agents to do the same. Our Policy is to expeditiously respond to clear notifications of alleged copyright infringement that comply with the United States Digital Millennium Copyright Act ("DMCA") of 1998, the text of which can be found on the U.S. Copyright Office website.</p>
        <p>What to consider before submitting a copyright complaint</p>
        <p>Before submitting a copyright complaint to us, consider whether the use could be fair. Fair use states that brief excerpts of copyrighted material may, under certain circumstances, be quoted verbatim for purposes such as criticism, news reporting, teaching, and research without the need for permission from or payment to the copyright holder.</p>
        <p>Please note that if you are unsure whether the material you report is infringing, you may contact an attorney before filing a notification.</p>
        <p>The DMCA requires you to provide your personal information in the copyright infringement notification. If you are concerned about the privacy of your personal information, you may use an agent to report infringing material for you.</p>

        <h2>Notifications of infringement</h2>
        <p>Suppose you are a copyright owner or an agent thereof, and you believe that any material available on our Services infringes your copyrights. In that case, you may submit a written copyright infringement notification ("Notification") using the contact details below under the DMCA. All such Notifications must comply with the DMCA requirements. You may refer to a DMCA takedown notice generator or similar services to avoid making mistakes and ensure compliance with your Notification.</p>
        <p>Filing a DMCA complaint is the start of a pre-defined legal process. Your complaint will be reviewed for accuracy, validity, and completeness. If it meets these requirements, our response may include removing or restricting access to allegedly infringing material.</p>
        <p>Suppose we remove or restrict access to materials or terminate an account in response to a Notification of alleged infringement. In that case, we will make a reasonable faith effort to contact the affected user with information concerning the removal or restriction of access.</p>
        <p>Notwithstanding anything to the contrary contained in any portion of this Policy, the Operator reserves the right to take no action upon receipt of a DMCA copyright infringement notification if it fails to comply with all the requirements of the DMCA for such messages.</p>
        <p>The process described in this Policy does not limit our ability to pursue any other remedies we may have to address suspected infringement.</p>

        <h2>Changes and amendments</h2>
        <p>We reserve the right to modify this Policy or its terms related to the Website and Services at any time at our discretion. When we do, we will email you to notify you. We may also provide notice to you in other ways at our discretion, such as through the contact information you have provided.</p>
        <p>An updated version of this Policy will be effective immediately upon posting unless otherwise specified. Your continued use of the Website and Services after the effective date of the revised Policy (or such other act specified at that time) will constitute your consent to those changes.</p>

        <h3>Reporting copyright infringement</h3>
        <p>If you would like to notify us of the infringing material or activity, we encourage you to contact us using the details below:</p>

        <ul>
          <li><strong>Email:</strong> <a href="mailto:contact@MTAutoClicker.com" class="no-underline text-blue-600"> contact@MTAutoClicker.com </a></li>
          <li> <strong>By visiting this link:</strong> <a href="/contact" class="no-underline text-blue-600">  mtautoclicker.com/contact/ </a></li>
        </ul>
        <p>This document was last updated on March 5, 2024</p>
    </div>
  </div>
</div>
{% endblock body %}
