{% extends 'main.html' %} 
{% block meta %} 
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>European Union - MT Auto Clicker</title>
    <meta name="description" content="Learn about MT Auto Clicker's commitment to the EU-US Privacy Shield framework, safeguarding your data during transatlantic transfers." />
    <meta name="robots" content="follow, index"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="European Union - MT Auto Clicker" />
    <meta property="og:description" content="Learn about MT Auto Clicker's commitment to the EU-US Privacy Shield framework, safeguarding your data during transatlantic transfers." />
    <meta property="og:url" content="https://www.mtautoclicker.com/eu-policy/" />
    <meta property="og:site_name" content="MT Auto Clicker" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="European Union - MT Auto Clicker" />
    <meta name="twitter:description" content="Learn about MT Auto Clicker's commitment to the EU-US Privacy Shield framework, safeguarding your data during transatlantic transfers." />
    <meta name="twitter:url" content="https://www.mtautoclicker.com/eu-policy/" />
    <meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg"/>
    <link rel="canonical" href="https://www.mtautoclicker.com/eu-policy/" /> 

    <meta name="robots" content="index,follow"/>
    
{% endblock meta %} 
{% block body %}
<div class="py-10 sm:py-10 ">
    <h1 class=" text-2xl md:text-4xl text-center text-white font-bold" >
        European Union – Privacy Shield Policy
    </h1>
</div>
<div class=" p-5  items-center max-w-screen-xl m-auto prose" >
  <div class="dark:prose-h1:text-gray-200 dark:text-white dark:prose-h2:text-gray-200 prose-h2:font-semibold dark:prose-strong:text-gray-300">
  
    <div class="">
       <p>The Privacy Shield Framework was designed by the US Department of Commerce, the European Commission, and the Swiss government to provide companies with a mechanism to meet data protection requirements when transferring personal data from the European Union and Switzerland to the United States to support transatlantic trade.</p>
       <p>MT Auto Clicker participates in the EU Privacy Shield. A list of participating organizations can be found at <a href=" https://www.dataprivacyframework.gov/." class="no-underline text-blue-600">  https://www.dataprivacyframework.gov/. </a></p>
       <p>MT Auto Clicker complies with the Privacy Shield Policy for all personal data collected in the EU as follows:</p>

       <h2>Privacy Shield Policy for the European Union</h2>
       <p> <strong>Note: </strong> MT Auto Clicker publishes online privacy notices, including its participation in Privacy Shield, the collection, use, and processing of personal information, privacy practices, and third-party privacy decisions regarding the collection and use of data.</p>
       <p> <strong>Option:</strong> MT Auto Clicker does not transfer customer data to external providers. With the MT Auto Clicker application, the customer can select the data to be shared, and users can specify whether or not they want to share data.</p>
        <ul>
            <li>MT Auto Clicker provides contact information for questions or complaints about Privacy Shield compliance on its website.</li>
            <li>The MT Auto Clicker contact website is mtautoclicker.com/contact-us.</li>
            <li>MT Auto Clicker participates in the European Union's Dispute Settlement Body (DPA) to settle disputes regarding privacy shields.</li>
            <li>MT Auto Clicker is subject to the investigative and compliance powers of the Federal Trade Commission or its legal entity to ensure compliance with the Privacy Shield principles</li>
            <li>MT Auto Clicker acknowledges that a person may order binding arbitration under the Privacy Shield.</li>
        </ul>
        <p> <strong>Responsibility for data transmission:</strong> With the <a href="/" class="no-underline text-blue-600"> MT Auto Clicker </a> application, customers can determine when and how their data is passed on to external providers. MT Auto Clicker will not disclose personal information to third parties without the customer's consent and is responsible for the unauthorized disclosure of personal data.</p>
        <p> <strong>Security:</strong> MT Auto Clicker takes all reasonable and appropriate measures to protect the data provided by customers against loss, misuse, and unauthorized access.</p>
        <p> <strong>Integrity and purpose of the data:</strong> MT Auto Clicker takes all reasonable measures to limit the processing to the purposes for which the data was collected and to ensure the reliability of personal data as part of their intended use, ensuring it is accurate, complete, and up-to-date.</p>
        <p> <strong>Access:</strong> With the MT Auto Clicker app, customers can request access to their users' personal information and correct, change, or delete inaccurate data.</p>
        <p> <strong>Source, Application, and Responsibility: </strong>MT Auto Clicker provides reasonable protection of personal information through authorized means.</p>
    </div>
  </div>
</div>
{% endblock body %}
