{% extends 'main.html' %} 
{% block meta %} 
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDPR Policy -  MT Auto Clicker</title>
    <meta name="description" content="Discover how MT Auto Clicker complies with GDPR regulations, ensuring the protection of your personal data and privacy rights as an EU citizen." />
    <meta name="robots" content="follow, index"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GDPR Policy -  MT Auto Clicker" />
    <meta property="og:description" content="Discover how MT Auto Clicker complies with GDPR regulations, ensuring the protection of your personal data and privacy rights as an EU citizen." />
    <meta property="og:url" content="https://www.mtautoclicker.com/gdpr-policy/" />
    <meta property="og:site_name" content="MT Auto Clicker" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="GDPR Policy -  MT Auto Clicker" />
    <meta name="twitter:description" content="Discover how MT Auto Clicker complies with GDPR regulations, ensuring the protection of your personal data and privacy rights as an EU citizen." />
    <meta name="twitter:url" content="https://www.mtautoclicker.com/gdpr-policy/" />
    <meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg"/>
    <link rel="canonical" href="https://www.mtautoclicker.com/gdpr-policy/" /> 

    <meta name="robots" content="index,follow"/>

{% endblock meta %} 
{% block body %}
<div class=" py-10 sm:py-10 ">
    <h1 class=" text-2xl md:text-4xl text-center text-white font-bold" >
        GDPR Policy
    </h1>
</div>
<div class=" p-5  items-center max-w-screen-xl m-auto prose" >
  <div class="dark:prose-h1:text-gray-200 dark:text-white dark:prose-h2:text-gray-200 prose-h2:font-semibold dark:prose-strong:text-gray-300">
  
    <div class=" ">
        <p>GDPR is the regulatory body that processes the personal data of the European Union (EU) citizens. The main objective of the GDPR is to give citizens control over their data. MT Auto Clicker, a product of Web Treta, complies with the EU privacy policy.</p>
        <p>GDPR contains 11 chapters and nearly 100 articles. Below are some of the most important articles.</p>
        <h2>European Union – General Data Protection Regulation</h2>
        <p> <strong>Article 5:</strong>  "Principles for the processing of personal data": Web Treta, the owner of MT Auto Clicker, is a reliable administrator of personal data. Customer data can only be used to provide the services offered by MT Auto Clicker. These data are not sold or used for marketing purposes.</p>
        <p> <strong>Article 17:</strong> "Right to Erasure ('Right to be Forgotten')": Users can request the deletion of their data from MT Auto Clicker at any time. Web Treta will promptly remove data from users who no longer wish to use MT Auto Clicker.</p>
        <p> <strong>Article 32:</strong> "Security of processing": Web Treta stores all personal information securely and confidentially. Web Treta team members are subject to contractual confidentiality agreements. Data security measures for MT Auto Clicker include internal policies and procedures for data management, personal data access restrictions, data encryption (for data at rest and in transit), monitoring of the data system, contingency plans, and measures to prevent unauthorized individuals from accessing personal information while using communications networks.</p>
        <h2>Other Important Articles:</h2>
        <p> <strong>Article 33:</strong> "Notification of a personal data breach to the supervisory authority": The GDPR requires notification to the supervisory authority within 72 hours of becoming aware of a personal data breach. In the event of a security breach resulting in the unauthorized disclosure of personal information, Web Treta will promptly notify affected users, conduct an investigation, and restore the integrity of their data systems as soon as possible. Web Treta will fully cooperate and provide the necessary reports to those affected by the breach.</p>
        <p> <strong>Article 35:</strong> "Data protection impact assessment": Web Treta performs various security assessments of the systems used for MT Auto Clicker. Some security tests are conducted annually, others more frequently, and some are performed continuously.</p>
        <p> <strong>Article 37:</strong> "Designation of the data protection officer": Web Treta has a designated Data Protection Officer responsible for conducting security audits and ensuring the protection of user data in the development of <a href="/" class="no-underline text-blue-600"> MT Auto Clicker </a>.</p>
        <p> <strong>Article 44:</strong> "General principle for transfers": To promote data sovereignty/residency under the GDPR, the Regulation authorizes the European Commission to determine whether a third country or territory to which data are transferred ensures adequate protection. As the GDPR is relatively new, the Commission has yet to authorize any third countries or territories. For MT Auto Clicker users in the EU or UK, Web Treta utilizes an EU data center (located in Frankfurt, Germany) to handle all necessary application and data hosting. No servers outside this data center are used to store data or provide services to EU or UK users.</p>
    </div>
  </div>
</div>
{% endblock body %}
