{% extends 'main.html' %}

{% block meta %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MT Tokens</title>
<meta name="description"
  content="Generate free tokens for MT Auto Clicker. Get instant and weekly tokens to automate your clicking tasks across platforms." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MT Tokens" />
<meta property="og:description"
  content="Generate free tokens for MT Auto Clicker. Get instant and weekly tokens to automate your clicking tasks across platforms." />
<meta property="og:url" content="https://www.mtautoclicker.com/mt-tokens/" />
<meta property="og:site_name" content="MT Auto Clicker" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:title" content="MT Tokens" />
<meta name="twitter:description"
  content="Generate free tokens for MT Auto Clicker. Get instant and weekly tokens to automate your clicking tasks across platforms." />
<meta name="twitter:url" content="https://www.mtautoclicker.com/mt-tokens/" />
<meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg" />
<link rel="canonical" href="https://www.mtautoclicker.com/mt-tokens/" />

<meta name="robots" content="noindex,nofollow" />
{% endblock meta %}

{% block body %}
<div class="min-h-screen flex items-center justify-center p-4">
    <div class="bg-[#0A0419] border-[3px] border-[#1D1634] rounded-lg p-8 w-full max-w-md flex flex-col items-center space-y-6">
        <h2 class="text-white text-xl font-semibold">
            Your Tokens are Ready!
        </h2>

        <p class="text-[#938FAA] text-md">
            Copy & Paste them in your MT Extension
        </p>

        <div class="w-full flex items-center justify-center">
            <div id="token" class="flex-1 bg-[#10152E] border-dashed border-[1px] border-white px-4 py-2 text-gray-300 font-mono">
                <!-- Token will be injected here -->
            </div>
            <button onClick="handleCopyToken()" class="bg-[#10152E] text-white px-4 py-2 border-dashed border-[1px] border-white transition-colors" id="copy-button">
                COPY
            </button>
        </div>

        
    </div>
</div>

<script>
    // Extract the token from the query parameter and display it
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    if (token) {
        document.getElementById('token').textContent = token;
    } else {
        document.body.innerHTML = '<h1>No token provided</h1>';
    }

    // Handle copy token functionality
    function handleCopyToken() {
        const tokenText = document.getElementById('token').textContent;

        if (tokenText) {
            navigator.clipboard.writeText(tokenText).then(() => {
                const copyButton = document.getElementById('copy-button');
                copyButton.textContent = 'COPIED!';
                copyButton.disabled = true;
                setTimeout(() => {
                    copyButton.textContent = 'COPY';
                    copyButton.disabled = false;
                }, 2000); // Reset button after 2 seconds
            }).catch((error) => {
                console.error('Error copying token:', error);
            });
        }
    }
</script>
{% endblock body %}
