{% extends 'main.html' %}
{% block meta %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MT Auto Clicker - Work Smart, Not Hard</title>
<meta name="description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="robots" content="follow, index" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta property="og:description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta property="og:url" content="https://www.mtautoclicker.com/" />
<meta property="og:site_name" content="MT Auto Clicker" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta name="twitter:description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="twitter:url" content="https://www.mtautoclicker.com/" />
<meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg" />
<link rel="canonical" href="https://www.mtautoclicker.com/" />

<meta name="robots" content="index,follow" />
<style>
  @keyframes testimonialScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .testimonial-scroll {
    animation: testimonialScroll 30s linear infinite;
  }

  .testimonial-scroll:hover {
    animation-play-state: paused;
  }
</style>
{% endblock meta %}

{% block body %}
<div x-data="{
  startIndex: 0,
  cardsToShow: 4,
  isPaused: false,
  isVideoPlaying: false,
  features: {{ features | dump | safe }},
  testimonials: {{ duplicatedTestimonials | dump | safe }},
  platforms: {{ platforms | dump | safe }},
  tools: {{ tools | dump | safe }},
  
  init() {
    this.$nextTick(() => {
      this.initVideo();
      this.startTestimonialScroll();
    });
  },

  initVideo() {
    const video = this.$refs.crossPlatformVideo;
    if (video) {
      video.play().catch(error => {
        console.error('Video autoplay failed:', error);
      });
    }
  },

  handleNext() {
    if (this.startIndex + 4 < this.features.length) {
      this.startIndex++;
    }
  },

  handlePrev() {
    if (this.startIndex > 0) {
      this.startIndex--;
    }
  },

  startTestimonialScroll() {
    const container = this.$refs.testimonialContainer;
    if (!this.isPaused && container) {
      container.style.transform = 'translateX(-100%)';
      container.style.transition = 'transform 30s linear';
    }
  }
}">

  {# Hero Section #}
  <div id="hero-section" class="bg-[#05030E] text-white overflow-x-hidden">
    <main class="flex flex-col items-center text-center mt-24 my-28 px-4">
      <h1 class="md:text-[60px] text-[42px] text-white">
        MT Auto Clicker
      </h1>

      <div class="bg-[#05030E] py-4 px-4 md:px-10 max-w-4xl">
        <p class="text-[#938FAA] font-[600] text-[16px] py-4 text-center">
          Streamline tasks with features like auto-clicking, scrolling,
          swiping, form-filling, hotkeys, zoom, screen capture, and more.
          Easily enhance efficiency and productivity.
        </p>
      </div>

      <div class="flex flex-wrap md:flex-row flex-col items-center justify-center gap-x-10 bg-[#05030E] md:gap-x-20 px-3">
        {# Download Button #}
        <a href="/download/windows">
          <button class="mt-10 bg-[#71EE9E] text-black px-4 py-4 md:px-3 md:py-[10px] rounded-lg text-lg font-medium flex items-center justify-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class='mb-1' width="24" height="24" viewBox="0 0 24 24"><rect width="24" height="24" fill="none" /><path fill="#05030E" fillRule="evenodd" d="M12 1.25a.75.75 0 0 0-.75.75v10.973l-1.68-1.961a.75.75 0 1 0-1.14.976l3 3.5a.75.75 0 0 0 1.14 0l3-3.5a.75.75 0 1 0-1.14-.976l-1.68 1.96V2a.75.75 0 0 0-.75-.75" clipRule="evenodd" /><path fill="#05030E" d="M14.25 9v.378a2.249 2.249 0 0 1 2.458 3.586l-3 3.5a2.25 2.25 0 0 1-3.416 0l-3-3.5A2.25 2.25 0 0 1 9.75 9.378V9H8c-2.828 0-4.243 0-5.121.879C2 10.757 2 12.172 2 15v1c0 2.828 0 4.243.879 5.121C3.757 22 5.172 22 8 22h8c2.828 0 4.243 0 5.121-.879C22 20.243 22 18.828 22 16v-1c0-2.828 0-4.243-.879-5.121C20.243 9 18.828 9 16 9z" /></svg>
            <span class="text-[16px] md:text-[20px] leading-[18px]">
              Download
            </span>
          </button>
        </a>

        {# Pricing Button #}
        <a href="/pricing">
          <button class="border border-[#71EE9E] group text-[#71EE9E] hover:bg-[#71EE9E] hover:text-[#05030E] font-medium text-base md:text-lg md:px-4 md:py-[11px] px-5 py-4 flex items-center space-x-3 mt-10 justify-between rounded-lg shadow-md hover:shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 14 14"><rect width="14" height="14" fill="none" /><path fill="#71ee9e" fillRule="evenodd" d="M13.463 9.692C13.463 12.664 10.77 14 7 14S.537 12.664.537 9.713c0-3.231 1.616-4.868 4.847-6.505L4.24 1.077A.7.7 0 0 1 4.843 0H9.41a.7.7 0 0 1 .603 1.023L8.616 3.208c3.23 1.615 4.847 3.252 4.847 6.484M7.625 4.887a.625.625 0 1 0-1.25 0v.627a1.74 1.74 0 0 0-.298 3.44l1.473.322a.625.625 0 0 1-.133 1.236h-.834a.625.625 0 0 1-.59-.416a.625.625 0 1 0-1.178.416a1.88 1.88 0 0 0 1.56 1.239v.636a.625.625 0 1 0 1.25 0v-.636a1.876 1.876 0 0 0 .192-3.696l-1.473-.322a.49.49 0 0 1 .105-.97h.968a.62.62 0 0 1 .59.416a.625.625 0 0 0 1.178-.417a1.87 1.87 0 0 0-1.56-1.238z" clipRule="evenodd" class='hover:text-[#05030E] group-hover:fill-[#05030E] ' /></svg>
            <span class="text-[16px] md:text-[20px] leading-[18px]">
              Pricing
            </span>
          </button>
        </a>
      </div>
    </main>
  </div>

  {# Features Section #}
  <div class="bg-[#05030e] text-white py-16 lg:ml-16 mt-[90px]">
    <div class="container mx-auto px-6 lg:pl-20">
      <div class="mb-14">
        <h2 class="text-4xl text-[#E93BF3] mb-4 font-semibold">
          Everything <span class="text-white">You Need</span>
        </h2>
        <p class="text-gray-400 font-semibold mt-4 text-base">
          Streamline tasks with features like auto-clicking, scrolling, swiping, form-filling, hotkeys, zoom, screen
        </p>
      </div>

      <div class="relative">
        <button 
          @click="handlePrev"
          class="absolute left-0 top-1/2 -translate-y-1/2 text-white md:bg-[#0A0419] md:py-36 md:px-10 z-10 md:opacity-80 group hover:z-20 md:p-4 transition-opacity duration-300"
          :class="{ 'hidden': startIndex === 0 }"
        >
        <svg width="31" height="48" className='opacity-60 group-hover:z-50 group-hover:opacity-100' viewBox="0 0 31 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fillRule="evenodd" clipRule="evenodd" d="M28.3491 1.82992C29.5208 3.00196 30.179 4.59139 30.179 6.24866C30.179 7.90594 29.5208 9.49536 28.3491 10.6674L15.0929 23.9237L28.3491 37.1799C29.5219 38.3518 30.1811 39.9416 30.1816 41.5996C30.1822 43.2575 29.5242 44.8478 28.3523 46.0205C27.1803 47.1933 25.5905 47.8525 23.9326 47.8531C22.2746 47.8536 20.6844 47.1956 19.5116 46.0237L1.83036 28.3424C0.65867 27.1704 0.000448227 25.5809 0.000448227 23.9237C0.000448227 22.2664 0.65867 20.677 1.83036 19.5049L19.5116 1.82992C20.6837 0.658222 22.2731 0 23.9304 0C25.5877 0 27.1771 0.658222 28.3491 1.82992Z" fill="#71EE9E" />
        </svg>
        </button>

        <button 
          @click="handleNext"
          class="absolute right-0 top-1/2 -translate-y-1/2 text-white md:bg-[#0A0419] md:py-36 md:px-10 z-10 opacity-80 md:p-4 group hover:z-20 transition-opacity duration-300"
          :class="{ 'hidden': startIndex + cardsToShow >= features.length }"
        >
        <svg width="31" className='opacity-60 group-hover:z-50 group-hover:opacity-100' height="48" viewBox="0 0 31 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fillRule="evenodd" clipRule="evenodd" d="M2.33056 1.90609C1.15887 3.07814 0.500646 4.66756 0.500646 6.32484C0.500646 7.98211 1.15887 9.57154 2.33056 10.7436L15.5868 23.9998L2.33056 37.2561C1.15781 38.428 0.498633 40.0178 0.498047 41.6757C0.497461 43.3337 1.15551 44.9239 2.32743 46.0967C3.49936 47.2695 5.08916 47.9286 6.7471 47.9292C8.40504 47.9298 9.99531 47.2718 11.1681 46.0998L28.8493 28.4186C30.021 27.2465 30.6792 25.6571 30.6792 23.9998C30.6792 22.3426 30.021 20.7531 28.8493 19.5811L11.1681 1.90609C9.99602 0.734394 8.40659 0.0761719 6.74931 0.0761719C5.09204 0.0761719 3.50261 0.734394 2.33056 1.90609Z" fill="#71EE9E" />
        </svg>
        </button>

        <div class="overflow-hidden">
          <div class="flex gap-8 transition-transform duration-500 ease-in-out"
               :style="{ transform: `translateX(-${startIndex * (240 + 32)}px)` }">
            <template x-for="(card, index) in features" :key="index">
              <div class="flex-shrink-0 w-60 bg-[#0A0419] p-5 border-[3px] rounded-xl border-[#1D1634] hover:shadow-lg transition duration-300">
                <img :src="card.img" class="w-[72px] h-[72px]" alt="" loading="lazy">
                <p class="text-white text-lg mt-6" x-text="card.title"></p>
                <p class="text-[#938FAA] text-sm font-semibold mt-5" x-text="card.description"></p>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Special Features Sections #}
<h2 class="text-[36px] text-white mb-16 mt-16 leading-[40px] text-center font-[600]">
  What Makes Us Special?
</h2>

{# Cross Platform Section #}
<div id="what-makes-us-special-section" class="bg-[#0A0419] border-[3px] rounded-xl border-[#1D1634] md:ml-36 md:mr-24 flex flex-col items-center p-6 text-white">
  <div class="w-full max-w-7xl grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
    <div>
      <h3 class="text-2xl leading-[40px] font-bold mb-4">
        Cross Platform Compatibility
      </h3>
      <p class="text-wrap text-[#938FAA] leading-6 font-semibold text-[16px] text-left mt-2">
        Access MT Auto Clicker on Windows, macOS, Android, iOS, and web browsers like Chrome and Edge. MT Tokens let you sync usage across platforms, ensuring flexibility and ease of use.
      </p>
    </div>

    <div class="flex justify-center bg-[#16162E]">
      <video 
        x-ref="video"
        src="/images/cross.mp4"
        loop
        muted
        autoplay
        playsinline
        class="w-full h-auto"
        x-init="$nextTick(() => $refs.video.play())"
      ></video>
    </div>
  </div>
</div>

{# Community Section #}
<div id="community-section" class="mt-10 bg-[#0A0419] border-[3px] rounded-xl border-[#1D1634] md:ml-36 md:mr-24 p-6 flex flex-col items-center text-white">
  <div class="w-full max-w-7xl grid grid-cols-1 lg:grid-cols-2">
    <div class="bg-[#0A0419] rounded-lg shadow-lg">
      <img 
        src="/images/MT-Community.svg"
        class="w-72 md:ml-[30px] mx-auto"
        alt="Mt community logo"
        loading="lazy"
      >
    </div>
    <div class="mt-24 max-sm:px-3">
      <h3 class="text-2xl leading-[30px] text-right md:leading-[40px] font-bold mb-4">
        MT Community
      </h3>
      <p class="text-[#938FAA] text-wrap leading-6 font-semibold text-[16px] text-right mt-2">
        Join the MT Community forum to ask questions, troubleshoot issues, and get quick support from MT Staff. A future update will enable users to share presets.
      </p>
    </div>
  </div>
</div>

{# Token Management Section #}
<div id="token-management-section" class="mt-10 border-[3px] p-6 rounded-xl border-[#1D1634] bg-[#0A0419] md:ml-36 md:mr-24 flex flex-col items-center text-white">
  <div class="w-full max-w-7xl gap-28 grid grid-cols-1 lg:grid-cols-2">
    <div class="mt-16 max-sm:px-3">
      <h3 class="text-2xl leading-[30px] md:leading-[40px] font-bold mb-4">
        Token Management
      </h3>
      <p class="text-[#938FAA] leading-6 font-semibold text-[16px] text-left mt-2">
        MT Tokens are your digital keys for MT Auto Clicker. Each generation adds 50 tokens, with a limit of 200 tokens per account. Use them across Windows, Mac, and browser extensions for easy access. Invite friends to earn more tokens!
      </p>
    </div>
    <div class="bg-[#0A0419] p-6 rounded-lg shadow-lg">
      <img
        src="./images/Token-Management.svg"
        class="w-72 md:ml-[30px] mx-auto"
        alt="Mt Token Management Logo"
        loading="lazy"
      >
    </div>
  </div>
</div>

{# Testimonials Section #}
<div 
  id="testimonial-section" 
  class="bg-[#05030e] text-white py-12 px-4 lg:ml-20 sm:px-8 lg:px-16"
  x-data="{ isPaused: false }"
>
  <h2 class="text-[36px] text-white mb-16 mt-10 leading-[40px] text-left font-[600]">
    Why we Work?
  </h2>
  
  <div class="bg-[#05030e] text-white group overflow-hidden">
    <div 
      class="flex gap-4 sm:gap-6 md:gap-8 justify-start w-full overflow-hidden"
      @mouseenter="isPaused = true"
      @mouseleave="isPaused = false"
    >
      <div 
        class="flex space-x-4 sm:space-x-6 testimonial-scroll"
        :class="{ 'paused': isPaused }"
      >
        {% for card in testimonials %}
        <div class="card w-[300px] h-[300px] bg-[#0A0419] p-5 border-[3px] rounded-xl border-[#1D1634] hover:shadow-lg flex flex-col justify-between">
          <div class="flex flex-col justify-between h-full w-full">
            <p class="text-[#938FAA] leading-[25.6px] font-semibold text-md text-left mt-2">
              {{ card.description }}
            </p>
            <div class="flex items-center">
              <img
                src="{{ card.image }}"
                alt="Mt Auto Clicker Logo"
                class="h-10 w-10 rounded-full object-cover"
                loading="lazy"
              >
              <span class="text-gray-200 text-[18px] leading-[20px] font-medium ml-4">
                {{ card.author }}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{# Download Section #}
<div id="download-links-section" class="bg-[#05030E] text-white flex flex-col max-sm:mt-20 items-center">
  <h2 class="text-[24px] leading-[24px] font-[600] mb-9">
    AVAILABLE ON
  </h2>
  <div class="flex flex-wrap justify-center md:mx-0 gap-6" role="group" aria-label="Download options">
    {% for platform in platform %}
    <div class="bg-card p-4 border border-[#71EE9E] rounded-lg flex justify-center items-center w-20 h-20 hover:scale-105 transition-transform">
      <a href="/download/{{ platform.name }}">
        <img
          src="{{ platform.icon }}"
          alt="{{ platform.name }}"
          class="w-10 h-10"
          loading="lazy"
        >
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{# Disclaimer Section #}
<div id="disclaimer-section" class="mt-10 sm:p-10 p-0 flex max-sm:mt-20 flex-col gap-10">
  <div class="w-[88%] border-[3px] rounded-xl border-[#1D1634] mx-auto bg-[#0A0419]">
    <div class="rounded-lg shadow-md p-6 text-center">
      <p class="text-[1.5rem] font-[700] mb-3 text-white">Disclaimer</p>
      <p class="text-center text-[#938FAA]">
        MT Auto Clicker is intended for legitimate use only. Users are solely responsible for their actions and must comply with applicable laws. By using our Auto Clicker, you agree to these terms.
      </p>
    </div>
  </div>

  <div class="w-[88%] border-[3px] rounded-xl border-[#1D1634] mx-auto bg-[#0A0419]">
    <div class="rounded-lg shadow-md p-6 text-center">
      <h3 class="text-[1.5rem] font-[700] mb-3 text-white">
        Trademark Disclaimer
      </h3>
      <p class="text-center text-[#938FAA]">
        All trademarks, logos, and brand names mentioned or displayed on the MT Auto Clicker website, software, apps, and extensions are the sole property of 
        <a href="https://www.webtreta.com/" class="no-underline">
          Web Treta
        </a>. Using these trademarks, logos, and brand names does not imply endorsement or affiliation with any other entity.
      </p>
    </div>
  </div>
</div>

</div>

{% endblock body %}