{% extends 'main.html' %}
{% block meta %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MT Auto Clicker - Work Smart, Not Hard</title>
<meta name="description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="robots" content="follow, index" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta property="og:description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta property="og:url" content="https://www.mtautoclicker.com/" />
<meta property="og:site_name" content="MT Auto Clicker" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta name="twitter:description"
  content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="twitter:url" content="https://www.mtautoclicker.com/" />
<meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg" />
<link rel="canonical" href="https://www.mtautoclicker.com/" />
<meta name="robots" content="index,follow" />

{% endblock meta %}

{% block body %}
<p class="text-red-400 md:text-green-500 lg:text-blue-600">hello</p>
{% endblock body %}