{% extends 'main.html' %} 
{% block meta %} 
 <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legal Notice - MT Auto Clicker</title>
    <meta name="description" content="Read our Legal Notice to understand the terms and conditions governing the use of MT Auto Clicker, a product of Web Treta." />
    <meta name="robots" content="nofollow, noindex"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Legal Notice - MT Auto Clicker" />
    <meta property="og:description" content="Read our Legal Notice to understand the terms and conditions governing the use of MT Auto Clicker, a product of Web Treta." />
    <meta property="og:url" content="https://www.mtautoclicker.com/legal-notice/" />
    <meta property="og:site_name" content="MT Auto Clicker" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:title" content="Legal Notice - MT Auto Clicker" />
    <meta name="twitter:description" content="Read our Legal Notice to understand the terms and conditions governing the use of MT Auto Clicker, a product of Web Treta." />
    <meta name="twitter:url" content="https://www.mtautoclicker.com/legal-notice/" />
    <meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg"/>
    <link rel="canonical" href="https://www.mtautoclicker.com/legal-notice/" /> 


{% endblock meta %} 
{% block body %}
<div class=" py-10 sm:py-10 ">
    <h1 class=" text-2xl md:text-4xl text-center text-white font-bold" >
        Legal Notice
    </h1>
</div>
<div class=" p-5  items-center max-w-screen-xl m-auto prose" >
  <div class="dark:prose-h1:text-gray-200 dark:text-white dark:prose-h2:text-gray-200 prose-h2:font-semibold dark:prose-strong:text-gray-200">
  
    <div class="">
      <p>MT Auto Clicker is the exclusive property of Web Treta, a company with its official website at webtreta.com. Web Treta owns all rights, title, and interest in and to MT Auto Clicker, including all intellectual property rights.</p>
      <p>Web Treta and MT Auto Clicker do not engage in video streaming or provide malware software on our website. We also do not host or distribute any copyrighted material or files without proper authorization.</p>
      <p>As the rightful owner of  <a href="/" class="no-underline text-blue-600"> MT Auto Clicker </a>, Web Treta is committed to addressing any legal concerns related to the software. If you believe MT Auto Clicker has infringed upon your intellectual property rights or any content on our website, please submit a properly formatted DMCA(Link to DMCA Page)complaint to our designated copyright agent. Each complaint will be reviewed, and appropriate action will be taken to address valid infringement claims.</p>
      <p>Rest assured that MT Auto Clicker is an entirely safe and secure software. It does not engage in unauthorized data collection, privacy invasion, or spying activities.</p>
      <p>If you have any issues, concerns, or questions regarding MT Auto Clicker or the content on our website, please get in touch with us through the provided contact page on webtreta.com. We are committed to addressing your inquiries in a timely and professional manner.</p>
      <p>This legal notice was last updated on March 5, 2024.</p>
    </div>
  </div>
</div>
{% endblock body %}
