{% extends 'main.html' %}
{% block meta %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MT Auto Clicker - Work Smart, Not Hard</title>
<meta name="description"
    content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="robots" content="follow, index" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta property="og:description"
    content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta property="og:url" content="https://www.mtautoclicker.com/" />
<meta property="og:site_name" content="MT Auto Clicker" />
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:title" content="MT Auto Clicker - Work Smart, Not Hard" />
<meta name="twitter:description"
    content="MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity" />
<meta name="twitter:url" content="https://www.mtautoclicker.com/" />
<meta name="twitter:image" content="https://www.mtautoclicker.com/img/social.jpg" />
<link rel="canonical" href="https://www.mtautoclicker.com/" />

<meta name="robots" content="index,follow" />

{% endblock meta %}

{% block body %}

<div x-data="{
    hovered: {
      windows: false,
      mac: false,
      android: false,
      chrome: false,
      firefox: false,
      ios: false,
      linux: false,
      microsoft: false,
      safari: false,
      brave: false,
      opera: true
    },
    platforms: [
      {
        key: 'windows',
        path: '/download/windows',
        imgPrefix: 'windows-logo'
      },
      {
        key: 'mac',
        path: '/download/mac',
        imgPrefix: 'apple-logo'
      },
      {
        key: 'android',
        path: '/download/android',
        imgPrefix: 'android-logo'
      },
      {
        key: 'ios',
        path: '/download/ios',
        imgPrefix: 'ios-logo'
      },
      {
        key: 'chrome',
        path: '/download/chrome',
        imgPrefix: 'chrome-logo'
      },
      {
        key: 'microsoft',
        path: '/download/edge',
        imgPrefix: 'microsoft-logo'
      },
      {
        key: 'firefox',
        path: '/download/firefox',
        imgPrefix: 'firefox-logo'
      },
      {
        key: 'brave',
        path: '/download/brave',
        imgPrefix: 'brave-logo'
      },
      {
        key: 'opera',
        path: '/download/opera',
        imgPrefix: 'opera-logo'
      }
    ],
    handleDownload() {
      const fileUrl = '/mtautoclicker.exe';
      const link = document.createElement('a');
      link.href = fileUrl;
      link.download = 'mtautoclicker.exe';
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  }" class="w-full m-auto relative p-5 md:px-8">
    
    <!-- Header Section -->
    <div class="md:pt-0 pb-10  max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold pb-5 text-center bg-clip-text text-transparent bg-white w-fit mx-auto">
        Download MT Auto Clicker
      </h1>
      <p class="text-center text-slate-400 md:text-lg mt-4 mb-3">
        Download MT Auto Clicker for Windows, macOS, Android, iOS, or browser extensions and simplify your tasks with powerful automation tools.
      </p>
    </div>
  
    <!-- Platform Icons Section -->
    <div class="w-full max-sm:overflow-x-auto sm:overflow-x-auto md:overflow-x-auto lg:overflow-hidden hide-scrollbar">
      <div class="flex gap-5 justify-start md:justify-center min-w-max px-4">
        <template x-for="(platform, index) in platforms" :key="platform.key">
          <a :href="platform.path" 
             :class="platform.key === 'opera' ? 'bg-white' : 'bg-[#1B1636] hover:bg-white'"
             class="px-5 py-3 md:px-8 md:py-3 h-full rounded-xl transition-colors duration-200"
             @mouseenter="hovered[platform.key] = true"
             @mouseleave="hovered[platform.key] = false">
            <img 
              :src="'/images/' + platform.imgPrefix + '-' + 
                    (hovered[platform.key] || platform.key === 'opera' || 
                    ['chrome', 'microsoft', 'firefox', 'brave', 'opera'].includes(platform.key) 
                    ? 'color' : 'white') + '.svg'"
              class="w-16 h-20"
              :alt="platform.key + ' logo'"
              loading="lazy">
          </a>
        </template>
      </div>
    </div>
  
    <!-- Download Box -->
    

    <div class="my-10 mx-auto">
        <div class="bg-[#0A0419] md:ml-4 w-[99%] border-[3px] rounded-xl border-[#1D1634] p-5 md:px-10 shadow hover:shadow-lg transition duration-300 drop-shadow-[0_7px_29px_rgba(0,0,0,0.3)] ">
          <div class="flex max-sm:flex-col justify-between text-white">
            <div class="flex flex-col gap-4 my-10">
              <h2 class="text-xl md:text-2xl lg:text-3xl">Download Mt Auto Clicker for Opera</h2>
              <p>Supported Platform: <span class="mx-4">Opera</span></p>
              <div class="flex gap-1">
                <p>User Rating:</p>
                {% for _ in range(4) %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-[#FFB636] border-none text-[#FFB636]">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                </svg>
              {% endfor %}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-6 h-6"
                  style="color: #FFB636">
                >
                  <path
                    d="M12 2l2.8 6.625L22 9.25l-5.45 4.725L18.175 21 12 17.275 5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2z"
                    stroke="currentColor"
                    strokeWidth="2"
                    fill="#FFB636"
                  />
                  <path
                    d="M12 2l2.8 6.625L22 9.25l-5.45 4.725L18.175 21 12 17.275V2z"
                    fill=""
                  />
                </svg>
              </div>
            </div>
            <div class="flex gap-3 my-10 flex-col">
              
              <img src="/images/opera-store-img.svg" class="md:w-56 md:h-24 w-56" alt="" />
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <style>
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .hide-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
    }
  </style>

{% endblock body %}