<footer class="bg-black p-5 relative text-slate-400 py-10">
  <section class=" max-w-screen-xl mx-auto my-0">
  <div class="grid grid-cols-2 sm:grid-cols-5 md:gap-5 mx-auto pb-10">
    <div class="footer flex flex-col items-center md:items-start space-y-5 justify-center col-span-2 ">
      <a href="/" class="font-bold flex flex-row space-x-2 " aria-label="Mtautoclicker">
          <img src="/images/logo.webp" alt="Mt-Auto-Clicker logo" aria-label="Mt-Auto-Clicker logo" class="w-44">
        
      </a>
      <p class="text-gray-400">MT Auto Clicker automates repetitive tasks like clicks, scrolls, data entry across apps and websites with customizable, recordable automations to enhance productivity</p>
      <div class="">
          <div class="flex space-x-5">
            <a href="https://t.me/mtautoclicker" class="w-8 h-8 cursor-pointer" aria-label="telegram"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"  viewBox="0 0 50 50">
              <path fill="currentColor" d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z"></path>
              </svg></a>
            <a href="https://x.com/mtautoclicker" class="w-8 h-8 cursor-pointer" aria-label="Tweeter"><svg xmlns="http://www.w3.org/2000/svg" style="width:inherit;height:inherit" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"/></svg></a>
            <a href="https://www.youtube.com/@MTAutoClicker" class="w-8 h-8 cursor-pointer " aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"  style="width:inherit;height:inherit" viewBox="0 0 48 48">
              <path fill="currentColor" d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"></path><path fill="#FFF" d="M20 31L20 17 32 24z"></path>
              </svg></a>
          </div>
      </div>
        <hr class="py-1 w-full md:hidden">
    </div>
    <div class="footer flex md:justify-center py-5 md:py-0">
     <div class=" "> 
      <p class="font-bold pb-2 text-white ">Link</p>
      <ul class="space-y-2">
        <li><a href="/about" class="cursor-pointer" aria-label="">About Us</a></li>
        <li><a href="/contact" class="cursor-pointer" aria-label="">Contact Us</a></li>
        <li><a href="/download" class="cursor-pointer" aria-label="">Download</a></li>
      </ul>
     </div>
    </div>
    <div class="footer flex md:justify-center py-5 md:py-0">
      <div class="">
        <p class="font-bold pb-2 text-white ">Pages</p>
        <ul class="space-y-2">
          <li><a href="/cookie-policy" class="cursor-pointer" aria-label="">Cookie Policy</a></li>
          <li><a href="/privacy-policy" class="cursor-pointer" aria-label="">Privacy Policy</a></li>
          <li><a href="/terms" class="cursor-pointer" aria-label="">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="footer flex md:justify-center py-5 md:py-0">
      <div class="">
        <p class="font-bold pb-2 text-white ">Pages</p>
        <ul class="space-y-2">
          <li><a href="/legal-notice" class="cursor-pointer" aria-label="">Legal Notice</a></li>
          <li><a href="/gdpr-policy" class="cursor-pointer" aria-label="">GDPR Policy</a></li>
          <li><a href="/eu-policy" class="cursor-pointer" aria-label="">EU Policy</a></li>
          <li><a href="/dmca-policy" class="cursor-pointer" aria-label="">DMCA Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  </section>
  <div class="container text-center w-full py-2 max-w-3xl mx-auto " >
      <small>
          <p class="text-[#888888]">&copy; 2025 <a href="/" aria-label=""> mtautoclicker.com </a>. All rights reserved.</p> 
      </small>
  </div>
</footer>